@import "tailwindcss";
@import "../styles/common.scss";
@import "../styles/layout.scss";
@import "../styles/variables.scss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-outfit: var(--font-outfit);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Smooth popup scrollbar */
::-webkit-scrollbar {
  width: 6px;
  display: none;
}

::-webkit-scrollbar-track {
  background: #e0edff;
  border-radius: 10px;
}

// ::-webkit-scrollbar-thumb {
//   background: #93c5fd;
//   border-radius: 10px;
// }

// ::-webkit-scrollbar-thumb:hover {
//   background: #60a5fa;
// }
